$navbar-default-bg: #7699e7;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('deo-tibba1.jpg');
    background-size: cover;
    height: 300px;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #fff;
    text-decoration: none;
}

.jumbotron h1, h2 {
    color: #210202;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    background-color: #7699e7;
    text-decoration: none;
    
}

.description {
    margin-top: 0;
}

.well a {
    color: #7699e7;
}

.chef_info {
    margin-top: 10px;
}

.colormatch a {
    color: #7699e7;
}

.recipe-actions {
    padding-top: 5px;
    a {
        color: #fff;
    }
}